* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/* navigation section */

nav {
	position: sticky;
	top: 0;
	background-color: white;
	padding: 0.8rem;
	list-style-type: none;
	z-index: 2;
	border-bottom: 1px solid gray;
}

nav ul {
	position: relative;
	margin-bottom: 2rem;
}

.nav-logo {
	margin: 0.5rem;
	display: inline;
	float: left;
}

.right-nav {
	position: absolute;
	right: 5%;
}

.nav {
	margin: 0.5rem;
	display: inline;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;
	position: relative;
	bottom: 2px;
	border: none;
}


/* landing page */
#bg-image {
	min-height: 40vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: scroll;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 40vh;
}


.container {
	position: relative;
}


.title {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	color: white;
	text-align: right;
	float: right;
	width: 50%;
	position: absolute;
	right: 10%;
}

.subtitle {
	text-align: right;
	font-size: 1rem;
	font-weight: 100;
	color: white;
	text-align: right;
	float: right;
	width: 30%;
	position: absolute;
	right: 10%;
	margin: 6rem 0;
}


.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	width: 12%;
	border: none;
	padding: 0.5rem;
	float: right;
	position: absolute;
	right: 10%;
	margin: 12rem 0;
	
}


/* Intro Section */
.title-2 {
	margin-top: 50px;
	text-align: center;
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

.intro-description {
	margin: 100px 250px;
}

/* pre-footer section */

.pre-footer {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-color: #f7fbfb;
	text-align: center;
}

.prefooter-description {
	margin: 50px 250px 20px;
	text-align: center;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;
	width: 8%;
	border: none;
}


/* footer section */
footer {
	text-align: center;
	margin-top: 5px;
}
